
.classLocToggleBar{
  width: 802px;
  height: 35px;
  padding-left: 8px;
  padding-right: 12px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: .875rem;
  line-height: 1;
  font-weight: 500;
  
}

.LessonsToggleLabel, .LocationsToggleLabel {
  padding-left: 4px;
  padding-right: 4px;
  border-bottom: 3px solid transparent;
  font-weight: 500px;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.LessonsToggleLabelSelected {
  color: #05f;
  border-bottom-color: #05f;

  padding-left: 4px;
  padding-right: 4px;
}