.about-page-container {
  background-color: #f7faff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.about-page-left-panel {
  width: 654px; 
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  padding: 24px;
  margin: 24px 8px;
  height: 100%;
  text-align:left
}

.about-page-header {
  font-size: 2.625rem;
  line-height: 1.0476190476;
  margin-bottom: 12px;
}

.about-page-mini-header {
  line-height: 1.75;
  margin-bottom: 4px;
  margin-top: 4px;
  color: rgba(0, 85, 255, 1);
}

.about-page-header-2 {
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -.3px;
  font-weight: 400;
  margin-bottom: 12px;
}


.about-page-left-panel-p {
  font-size: 1rem;
  line-height: 1.75;
  /* margin-top: 6px; */
  margin-bottom: 6px;
}

.about-page-a {
  color: rgba(0, 85, 255, 1);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.about-page-connect-row-mobile {
  display: none;
}

@media only screen and ( 0px <= width <= 480px){
  .about-page-connect-row {
    display: none;
  }

  .about-page-container {
    height: 95vh;
    width: 100vw;
  }

  .about-page-left-panel {
    height: 80%;
    width: 100%;
    overflow: scroll;
  }

  .about-page-left-panel p {
    /* display: flex; */
    width: 100%;
  }

  .about-page-connect-row-mobile {
    display: flex;
    justify-content: space-evenly;
  }

  .about-page-connect-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav-connect-link {
    text-decoration: none;
    color: rgba(0, 85, 255, 1);
  }
}
