.imagePanel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.errorMsg {
  margin-bottom: 0;
  font-size: 120px;
  font-weight: 700;
}

#kettlebell, #arm {
  background-color: transparent;
}

#arm { 
  position: relative;
  left: 0%;
  top: 50%;
}