.LessonDatesIndexPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden; 
  flex: auto;
  width: 100vw;
}

.lessonDatesIdxleftPanel{
  display: flex;
  flex-direction: column;
  /* min-width: 249px;
  max-width: 822px; */
  width: 56.5%;
  /* max-width:45%; */
  /* width: 40%; */
  /* height: 797px; */
  height: 100vh;
  padding: 16px 16px 32px;

}


.lessonDatesIdxrightPanel {
  /* display: flex;
  flex-direction: column; */
  /* min-width: 575px; */
  /* max-width: 799px; */
  /* max-width: auto; */
  /* width: 575px; */
  /* max-width: auto; */
  /* box-sizing: border-box; */
  height: 100vh;
  /* overflow: hidden; */
  /* max-width: 100%; */
  width: 41.25%;
}


