.LessonDatesIndexPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden; 
  flex: auto;
  width: 100vw;
}

.lessonDatesIdxleftPanel{
  display: flex;
  flex-direction: column;
  min-width: 249px;
  max-width: 822px;
  /* max-width:45%; */
  /* width: 40%; */
  height: 797px;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  padding: 16px;
  
}




.lessonDatesIdxrightPanel {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  /* max-width: 799px; */
  max-width: auto;
  height: 601px;
}


