.acct-page-page {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #f2f0f0;
  width: 100vw;
}

.acct-page-panel-L {
  width: 22vw;
  height: 100vh;
  padding: 4px 0px 0px 200px;
  background-color: #f2f0f0;
  padding-top: 64px;
}

.acct-page-panel-R {
  width: 76vw;
  height: auto;
  padding: 64px 64px 64px 4px;
  background: #ffffff;
 
}


.acct-page-title-li, .acct-page-title-row-welcome-banner {
  display: flex;
  flex-direction: row;
  height: 32px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0s ease 0s;
  font-size: 15px;
  align-items: center;
  text-align: left;
  background-color: #f2f0f0;
  
}

.acct-page-title-li {
  cursor: pointer;
}

.acct-page-title-ul {
  background-color: #f2f0f0
}


.acct-page-title-ul > li:hover {
  /* background-color: rgba(0, 85, 255, 1); */
  /* color: #ffffff; */
  text-decoration: none;
  color: #05f;
  /* font-weight: bold; */
}

.acct-page-title-li-selected {
  color: #05f;
  /* background-color: white; */

}

.acct-page-title-row-welcome-banner {
  font-size: 18px;
  position: relative;
  left: -12px;
}

.username-header {
  margin-left: 4px;
  
}

.username-header:hover {
  font-size: larger;
}

.acct-page-selection {
  cursor: pointer;
  /* font-weight: 400; */
}