#account-nav {
  z-index: 500;
  position: absolute;
  box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
}

.test {
  box-shadow: 10px 5px 5px red;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  height: 2px;
  position: relative;
  /* top: 62px; */
  /* border: red solid 1px; */
  
}

.acct-page-page {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #f2f0f0;
  width: 100vw;
}

.acct-page-panel-L {
  width: 22vw;
  height: 100vh;
  padding: 4px 0px 0px 200px;
  background-color: #f2f0f0;
  padding-top: 64px;
}

.acct-page-panel-R {
  width: 76vw;
  height: auto;
  padding: 64px 64px 64px 4px;
  background: #ffffff;
 
}


.acct-page-title-li, .acct-page-title-row-welcome-banner {
  display: flex;
  flex-direction: row;
  height: 32px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0s ease 0s;
  font-size: 15px;
  align-items: center;
  text-align: left;
  background-color: #f2f0f0;
  
}

.acct-page-title-li {
  cursor: pointer;
}

.acct-page-title-ul {
  background-color: #f2f0f0
}


.acct-page-title-ul > li:hover {
  /* background-color: rgba(0, 85, 255, 1); */
  /* color: #ffffff; */
  text-decoration: none;
  color: #05f;
  /* font-weight: bold; */
}

.acct-page-title-li-selected {
  color: #05f;
  /* background-color: white; */

}

.acct-page-title-row-welcome-banner {
  font-size: 18px;
  position: relative;
  left: -12px;
}

.username-header {
  margin-left: 4px;
  
}

.username-header:hover {
  font-size: larger;
}

.acct-page-selection {
  cursor: pointer;
  /* font-weight: 400; */
}

.acct-page-review-ul {
  width: 624px;
  height: 532px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 42px;
  padding: 8px;
}

@media only screen and ( 0px <= width <= 480px){
  .acct-page-page {
    width: 100vw;
    height: 92vh;
    /* overflow: scroll; */
    flex-direction: column;
    background-color: white;
  }

  .acct-page-title-row-welcome-banner, .acct-page-panel-L, .reservation-index-header {
    display: none;
  }

  .acct-page-panel-R {
    width: 100vw;
    height: 92vh;
    background: white;
    padding: 0vh 0 0 0;
    /* overflow: scroll; */
  }
  .acct-pg-upcoming {
    height: 3vh;
    margin: 4vh 0 0 3.5vw; 
    padding: 0 0 0 0;
  }

  .acct-page-title-ul {
    display: flex;
    flex-direction: row;
  }

  .acct-page-main-content-container {
    padding: 2.5vw 3.5vw 2.5vw 3.5vw;
    overflow: scroll;
    height: 82vh;
  }

}