.LessonsIndexPage {
  display: flex;
  flex-wrap: wrap;
}

.lessonsIdxleftPanel{
  display: flex;
  flex-direction: column;
  width: 822px;
  height: 797px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 16px;
}


.lessonsIdxrightPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 800px;
}

.lessonsIdxUL{
  width: 822px;
  height: 7448px;
  display: flex;
  flex-direction: column;
}
