.ReviewIndexItem {
  width: 624px;
  height: 84px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  display: block;
  border-top: 1px solid #e7e7e7;
}

/* .ReviewIndexItem:not(:first-child){
} */

.reviewTitleRow {
  width: 595px;
  height: 24px;
  margin-bottom: 4px;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.reviewStarsRow {
  width: 624px;
  height: 24px;

}

.reviewRatingNum, .reviewTimeAgo {
  display: inline-block; 
  margin-right: 6px; 
  font-size: .875rem;
  line-height: 1.4285714286;
  color: #555;
}



.reviewBodyRow {
  width: 624px;
  height: 72px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  
}



.reviewBody {
  width: 624px;
  height: 72px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
 
  
}

.editDeleteReview {

}

.reviewEditIcon, .reviewDeleteIcon {
  padding-left: 4px;
  padding-right: 4px;
  color: #555;
}

.reviewEditIcon:hover, .reviewDeleteIcon:hover {
  /* background-color: #d6d6d6; */
  fill: #e7e7e7;;
  color: #05f;
  transition: color .3s,background-color .3s,border-color .3s;
}

.reviewEditIcon:focus, .reviewDeleteIcon:focus {
  border-color: #05f;
  border-width: 4px;
  transition: background-color .3s,color .3s,border-color .3s;
}

.reviewReviewerUsername{
  font-weight: 500;
  line-height: 1.5;
  font-size: .875rem;
  color: rgb(255, 214, 1);
}

@media only screen and (320px <= width <= 480px) {
  .ReviewIndexItem {
    width: 100%;
    height: auto;
    /* border: red solid 1px; */
    margin: 0px 0 20px 0;
    padding: 0;
  }

  .reviewTitleRow{
    width: 100%;
    font-size: 0.9rem;
    padding: 0;
  }

  .reviewStarsRow {
    width: 100%;
  }

  .reviewBodyRow {
    width: 100%;
    height: auto;
  }

  .reviewBody{
    width: 100%;
    font-size: 0.8rem;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .editDeleteReview {

  }
  
  .reviewRatingNum {
    /* padding-left: 1vw; */
    margin-left: -1vw;
  }
  
}