.lessonDateIdxItmRow {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  /* width: 775px; */
  width: 95%;
  height: 105px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  --vh: 8.87px; 
}

.locShowLessonDateIdxItmRow{
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  width: 624px;
  height: 55px;
  display: flex;
  flex-direction: row;
  --vh: 8.87px; 
  border-top: 1px solid #e7e7e7;
  padding-top: 16px;
  padding-bottom: 16px;
}


.lessonDateIdxItmRow:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}

.lessonDateIdxItmTimeCol {
  width: 70px;
  height: 77px;
  margin-right: 12px;
  font-size: .875rem;
  line-height: 1.4285714286;
  color: #555;
  
} 

.startTimeLoc {
  font-weight: 500;
}

.locShowLessonDateIdxItmTimeCol {
  width: 70px;
  height: 50px;
  margin-right: 12px;
  font-size: .875rem;
  line-height: 1.4285714286;
  color: #555;
}

.lessonDateIdxItmCol2 {
  width: 289px;
  height: 69px;
  margin-bottom: 8px;
  padding-right: 8px;
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  display: block;
  --vh: 8.4px;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.locShowIdxItmCol2{
  width: 425px;
  height: 50px;
  margin-bottom: 8px;
  padding-right: 8px;
  /* flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
  /* display: block; */
  --vh: 8.4px;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.lessonDateIdxItmCol3 {
  width: 289px;
  height: 77px;
  padding-right: 12px;
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  display: block;
  --vh: 8.4px;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  text-overflow: ellipsis;

}

.lessonDateIdxItmImgCol {
  width: 168px;
  height: 105px;
  margin-right: 16px;
}


.lessonDateIdxItmRCol {
  width: 110px;
  height: 77px;
  line-height: 1.4285714286;
  font-size: .875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locShowIdxItmRCol {
  width: 110px;
  height: 65px;
  line-height: 1.4285714286;
  font-size: .875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 32px;
  /* note: remove padding-right when I remove the scroll for the UL */
}

.lessonDateIdxItmLocLink{
  /* display: block; */

  font-size: .875rem;
  line-height: 1.4285714286;
  font-weight: 400;
  width: 240px;
  height: 14px;
  text-decoration: none;
  color: #000;
  transition: background-color .3s,color .3s;
}

.lessonDateIdxItmLessonType {
  width: 289px;
  height: 20px;
  font-size: .875rem;
  line-height: 1.4285714286;
  color: #555;
  --vh: 5.84px;
  --vh: 3.73px;
  font-weight: 400;
}

.lessonDateIdxItmLink {
  width: 289px;
  height: 20px;
  text-decoration: none;
  color: #000;
  transition: background-color .3s,color .3s;
  font-size: 1rem;
  line-height: 1.5;
  --vh: 4.4px;
  font-weight: 500;
  width: 240px;
  height: 16px;
  text-overflow: ellipsis;
}

.lessonDateIdxItmRating{
  width: 240px;
  height: 24px;
}

.lessonDateIdxImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.lessonDateIdxItmDesc {
  display: block;
  width: 333px;
  height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lessonDateIdxItmReserve, .loggedOutSignUp {
  width: 110.6px;
  height: 34px;
  padding: 9px 8px 7px 8px;
  border: 1px solid #05f;
  color: #05f;
  border-radius: 3px;
  background-color: transparent;
  transition: color .3s,background-color .3s,border-color .3s;
  font-weight: 500;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  font-size: .875rem;
  display: flex;
  justify-content: center;
}

.loggedOutSignUp {
  width: 92px;
  height: 18px;
}

.lessonDateIdxItmReserve:hover, .loggedOutSignUp:hover {
  /* background-color: #d6d6d6; */
  background-color: #e7e7e7;
  transition: color .3s,background-color .3s,border-color .3s;
}

.lessonDateIdxItmReserve:focus {
  border-color: #05f;
  border-width: 2px;
  transition: background-color .3s,color .3s,border-color .3s;
}

.lessonDateIdxItmCancel {
  width: 110.6px;
  height: 32px;
  padding: 9px 8px 7px 8px;
  border: 1px solid #05f;
  color: #000;
  border-radius: 3px;
  background-color: transparent;
  transition: color .3s,background-color .3s,border-color .3s;
  font-weight: 500;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  font-size: .875rem;
  display: flex;
  justify-content: center;
  border-color: #d6d6d6;
  background-color: #fff;
}

.lessonDateIdxItmCancel:hover {
  /* background-color: #d6d6d6; */
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  transition: color .3s,background-color .3s,border-color .3s;
}

.lessonDateIdxItmCancel:focus {
  border-color: #05f;
  border-width: 4px;
  transition: background-color .3s,color .3s,border-color .3s;
} 


.lessonDateIdxItmReserveFull{
  width: 92.6px;
  height: 32px;
  padding: 9px 8px 7px 8px;
  border: 1px solid #555;
  color: #05f;
  border-radius: 3px;
  background-color: transparent;
  transition: color .3s,background-color .3s,border-color .3s;
  font-weight: 500;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  font-size: .875rem;
  display: flex;
  justify-content: center;
}

.remainingSlots {
  color: #555;
  font-size: .875rem;
  line-height: 1.4285714286;
  margin-top: 8px;
}

.lessonFull {
  color: red;
  font-size: .875rem;
  line-height: 1.4285714286;
  margin-top: 2px;
}


.reserved {
  color: #555;
  font-size: .875rem;
  line-height: 1.4285714286;
  margin-top: 2px;
}

.reservedLocShow {
  font-size: .75rem;
  line-height: 1.4285714286;
  margin-top: 2px;
  text-transform: uppercase;
  color: #05f;
  font-weight: 700;
  padding-top: 4px;
}
