.LocShowPage {
  /* position: relative; */
  /* left: 50%;
  top: 0;
  transform: translateX(-50%); */
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  font-family: norms,sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /* border: 1px solid red; */
}

.LocShowPanelL {
  width: 624px;
  padding: 16px, 8px, 0px;
  
  /* border: 1px solid #e7e7e7; */
}

.LocShowratingRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  margin-bottom: 8px;
}


.LocShowPanelLRow{
  width: 100%;
  /* border: 1px solrgb(127, 103, 103)7e7; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 24px;
  margin-right: 24px;
  /* align-items: center; */
}

#noTopBorder {
  border-top: none;
}


.LocShowPanelLRow:not(:nth-child(2n)) {
  border-top: 1px solid #e7e7e7;
}

.LocShowImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #e7e7e7; */
}

.locNamRow{
  padding-top: 24px;
  height: 64px;
  margin-top: 24px;
}

.locName {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: 500;
}

.locShowSubtitle {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  justify-content: left;
  margin: 16px 0px;

}

/* 
.locationIdxItmRating {

} */


.locShowRevCt {
  height: 15px;
  font-size: 0.875rem;
  color: #555;
}

.LocShowPanelR {
  width: 320px;
  height: 496px;
  position: sticky;
  top: 64px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.LocShowPanelRRow {
  width: 320px;
  height: 28px;
  position: sticky;
  top: 64px;
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  justify-content: flex-start;
}

.LocShowFirstRowR {
  margin-top: 24px;
}

.LocShowMap {
  width: 288px;
  height: 200px;
  border-radius: 3px;
}

.loc-show-map {
  width: 100%; 
  height: 100%;
  border-radius: 3px;
}

.locShowIdxULLessonDates {
  width: 624px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: relative; */
  top: 42px;
  overflow-x: hidden;
  overflow-y: scroll;

}

#locShowReviewSubtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 32px;
  height: 30px;
}

#LocShowPageReviewButton {
  width: 92.594px;
  height: 14px;
  padding: 9px 8px 8px;
}

.LocShowRInfoIconDiv {
  width: 2em;
  height: 2.5em;
}

.LocShowRInfoIcon {
  width: 1.25em;
  height: 1.25em;
}

.review-button-no-lessons-taken {
  width: 110.6px;
  height: 32px;
  padding: 9px 8px 7px 8px;
  border: 1px solid #05f;
  color: #000;
  border-radius: 3px;
  background-color: transparent;
  transition: color .3s,background-color .3s,border-color .3s;
  font-weight: 500;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  cursor: no-drop;
  overflow: visible;
  text-decoration: none;
  font-size: .875rem;
  display: flex;
  justify-content: center;
  border-color: #d6d6d6;
  background-color: #fff;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  transition: color .3s,background-color .3s,border-color .3s;
}

.review-button-no-lessons-taken:hover {
  /* background-color: #d6d6d6; */
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  transition: color .3s,background-color .3s,border-color .3s;
  cursor: no-drop;
}

.loc-show-pg-no-res-div {
  display: flex;
  flex-direction: column;

}

@media only screen and (0px <= width <= 480px){
  .LocShowPage {
    width: 100vw;
    height: 95vh;
    /* padding-bottom: 32px; */
    display: flex;
    flex-direction: column;
  }

  .LocShowPanelR {
    display: none;

  }

  .LocShowPanelL {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0;
    /* border: solid red 1px; */
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .locShowLessonDateIdxItmRow, .lessonDateIdxItmRow {
    width: 100%;
    /* padding: 0 2.5vw; */
    /* margin: 0 3vw; */
  }

  .locNameRow {
    width: 94vw;
    padding: 3vw;
    
  }
  .locShowIdxULLessonDates {
    width: 100%;
    
  }
  .locShowLessonDateIdxItmRow {
    width: 100%;
    
  }
  .loc-show-img-row {
    width: 100%;
  }
  .LocShowPanelLRow {
    width: 94vw;
    padding: 0 3vw 1.5vh 3vw;
    font-size: 0.8rem;
  }
  .locShowLessonDateIdxItmRow {
    width: 100%;
  }
  .locShowSubtitle {
    margin: 2vh 0 1.5vh 0;
  }
  .loc-show-pg-date-menu {
    margin: 0 0 1.5vh 0;
  }
  .loc-show-pg-no-res-div {
    width: 100%;
  }

  .loc-show-img-row {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 25vh;
  }

  .loc-show-description-text {
    width: 100%;
    font-size: 0.8rem;
  }

  #locShowReviewSubtitle {
    padding: 0;
  }

}