.LocShowPage {
  /* position: relative; */
  /* left: 50%;
  top: 0;
  transform: translateX(-50%); */
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  font-family: norms,sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /* border: 1px solid red; */
}

.LocShowPanelL {
  width: 624px;
  padding: 16px, 8px, 0px;
  
  /* border: 1px solid #e7e7e7; */
}

.LocShowratingRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  margin-bottom: 8px;
}


.LocShowPanelLRow{
  width: 100%;
  /* border: 1px solrgb(127, 103, 103)7e7; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 24px;
  margin-right: 24px;
  /* align-items: center; */
}



.LocShowPanelLRow:not(:nth-child(2n)) {
  border-top: 1px solid #e7e7e7;
}

.LocShowImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #e7e7e7; */
}

.locNamRow{
  padding-top: 24px;
  height: 64px;
  margin-top: 24px;
}

.locName {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: 500;
}

.locShowSubtitle {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  justify-content: left;
  margin: 16px 0px;

}


.locationIdxItmRating {

}


.locShowRevCt {
  height: 15px;
  font-size: 0.875rem;
  color: #555;
}

.LocShowPanelR {
  width: 320px;
  height: 496px;
  position: sticky;
  top: 64px;
  margin-left: 24px;
  /* border: 1px solid blue; */
}

.LocShowMap {
  width: 288px;
  height: 200px;
  overflow: hidden;
}

.locShowIdxULLessonDates {
  width: 624px;
  height: 532px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: relative; */
  top: 42px;
  overflow-x: hidden;
  overflow-y: scroll;

}

#locShowReviewSubtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 32px;
}

#LocShowPageReviewButton {
  width: 92.594px;
  height: 14px;
  padding: 9px 8px 8px;
}
