

#infoBlurbContainer {
  max-width: none;
  padding: 0 48px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}



#loginButton, #demologinButton {
  width: 100%;
}

#largePanel {
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
}