
#infoBlurbContainer {
  max-width: none;
  padding: 0 48px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#loginButton {
  width: 100%;
  height: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  transition: color .3s,background-color .3s,border-color .3s;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #fff;
  border-color: #05f;
  background-color: #05f;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

#loginButton:hover {
  background-color: #004de6;
  border-color: #004de6;
  border-top-color: rgb(0, 77, 230);
  border-right-color: rgb(0, 77, 230);
  border-bottom-color: rgb(0, 77, 230);
  border-left-color: rgb(0, 77, 230);
}


.loginlargePanel {
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 112.5;
  margin-right: 112.5;
  width: 100vw;
  height: 816px;
}

.loginForm {
  height: 738px;
  width: 480px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgb(0 0 0 / 24%);
}

.loginNarrow {
  width: 318px;
  height: 738px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginrightBlurb {
  height: 732px;
  width: 384px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 48px;
  padding-right: 48px;;
}

.loginH3 {
  font-weight: 800;
  font-family: 'Ponjoung', sans-serif;
  font-size: 1.75rem;
  line-height: 1.1428571429;
  max-width: 350px;
  margin: 16px auto;
  text-align: center;
  padding: 8px 16px;
}

#welcomeBack {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  display: flex;
  font-weight: 500;
}

.loginRow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 65px;
  margin-top: 24px;
  margin-bottom: 24px;
}

input {
  font-size: 16px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 11px 8px 8px 8px;
  vertical-align: middle;
  box-shadow: none;
  width: 302px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-decoration: none;
  font-family: 'TT Norms Pro', sans-serif;
}




label {
  text-align: left;
  display: block;
  margin-bottom: 16px;
  color: #555;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0;
}

#resetPassword, #demologinButton {
  text-decoration: none;
  color: #05f;
  justify-content: space-evenly;
  transition: background-color .3s,color .3s;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  margin-bottom: 32px; 
}

#demologinButton {
  width: 100%;
  border: 0px;
  border-radius: 3px;
  transition: none;
  background-color: #fff
}

#lineBelow {
  border-bottom: 1px solid #e7e7e7;
}

.level1 {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.loginP {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

#getStarted {
  font-size: .875rem;  
  position: relative;
  min-width: 120px;
  max-width: 100%;
  margin: 0;
  padding: 11px 16px 11px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  font-weight: 500;
  line-height: 1;
  color: #000;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  text-decoration: none;
  
}

#getStarted:focus {
  border-color: #05f;
  border-width: 2px;
  transition: background-color .3s,color .3s,border-color .3s;
}

#cosmere {
  width: 130px;
  height: 130px;
  object-fit: cover;
  
}

#cosmere:hover {
	transform: translateY(-2px);
	z-index: 500;
  animation: spin 3s linear infinite
}

@keyframes spin {
	0% {transform: rotate(0);}
	100%{transform: rotate(360deg);}

}